/* in small screen */
.container{
    display: grid;
    padding: auto;
    margin: 1px;
    grid-template-columns: 130px, 770px;
    grid-template-rows: 6% 91% 3%;
    grid-template-areas:
    "hd hd"
    "sd main"
    "ft ft"
}

/* in middle screen */
@media(min-width:701px) and (max-width:1000px) {
    .container{
        display: grid;
        padding: auto;
        margin: 10px;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 8% 89% 3%;
        grid-template-areas:
        "hd hd hd hd hd"
        "sd main main main main"
        "ft ft ft ft ft";
    }
}

/* in large screen */
@media(min-width:1001px) {
    .container{
        font-family:'Courier New', Courier, monospace;
        display: grid;
        padding: auto;
        margin: 10px;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: 8% 89% 3%;
        grid-template-areas:
        "hd hd hd hd hd hd hd"
        "sd sd main main main main main"
        "ft ft ft ft ft ft ft";
    }
}

/* for small screen */
.content{
    grid-area: main;
    display: grid;
    grid-gap:10px;
    border-radius: 5px;
    grid-template-rows:  40px;
    background-color:rgb(255, 242, 229);
    color:#444;
    padding: 25px;
}

@media (min-width:800px) {
    .content{
        grid-area: main;
        display: grid;
        grid-gap:10px;
        border-radius: 5px;
        grid-auto-rows: minmax(250px,355px);
        grid-template-columns: 50% 50%;
        background-color:rgb(255, 242, 229);
        color:#444;
        padding: 25px;
    }
}

/* for small screen */
.contentblog{
    grid-area: main;
    display: grid;
    grid-gap:10px;
    border-radius: 5px;
    grid-template-rows:  40px;
    background-color:rgb(255, 242, 229);
    color:#444;
    padding: 25px;
}


.contentbox{
    display:flex;
    grid-gap: 20px;
    width: 100%;
    border-radius: 7px;
    border-image: fill;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
